body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
}

.smallsel{
	font-size: 9px;
	width: 250px;
}

.onebox {
	width: 50px;
}

.twobox {
	width: 300px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.adminLinks
{
	font-family:arial; font-size:12px; font-weight:bold; text-decoration:none; color:#3366ff; cursor: hand;
}


.adminLinksSection
{
	background-color:#5998B7;font-family:arial; font-size:12px; font-weight:bold; text-decoration:none; margin-left:10px; color:#000000; cursor: hand;
}

.adminActions
{
	font-family:arial; font-size:12px; font-weight:bold; color:#fff; cursor: hand;
}

.adminSub
{
	font-family:arial; font-size:12px; font-weight:bold; text-decoration:underline; margin-left:10px; color:#218200; cursor:hand;
}

.adminSubCell
{
	background: #E9FFE1;
}

.adminhead
{
	font-family:arial; font-size:12px; font-weight:bold; text-decoration:none; margin-left:10px; color:#cc0000;
}

.menutable
{
width: 650px;
border-top: 2px solid #cacaca;
border-left: 2px solid #cacaca;
border-bottom: 2px solid #cacaca; 
border-right: 2px solid #cacaca;
background-color: #d6d6d6;
}

.maintable
{
width: 650px;
border-top: 2px solid #cacaca;
border-left: 2px solid #cacaca;
border-bottom: 2px solid #cacaca; 
border-right: 2px solid #cacaca;
background-color: #ebebeb;
}

.prodsel
{
	font-size:9px;
	width:350px;
}

.formtext
{
	width:400px;
}

.formtextsm
{
	width:120px;
}

.formtextro
{
	width:400px;
	background: #cccccc;
}

.formtextrosm
{
	width:120px;
	background: #cccccc;
}

.formlabel
{
font-size:11px;
font-weight:bold;
margin-left:5px;
}

select
{

}

.linktext
{
	width:400px;
	height:100px;
}

textarea
{
	width:400px;
	height:100px;
}